# Analysis of IPL DATA

"Sports Basics" is a sports blog company that entered space recently.  They wanted to get more traffic to their website by releasing a special edition magazine on IPL 2024.  This magazine aims to provide interesting insights and facts for fans, analysts and teams based on the last 3 years' data.

### Importing libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importing Data from CSV

In [26]:
match_summary = pd.read_csv('D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\dim_match_summary.csv')
players = pd.read_csv('D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\dim_players.csv')
batting_summary = pd.read_csv(r'D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\fact_bating_summary.csv')
bowling_summary = pd.read_csv(r'D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\fact_bowling_summary.csv')

In [27]:
print("Match Summary Column:  --> ", match_summary.columns)
print("Players Column:  --> ", players.columns)
print("Batting Summary Column:  --> ", batting_summary.columns)
print("Bowling Summary Column:  --> ", bowling_summary.columns)

Match Summary Column:  -->  Index(['team1', 'team2', 'winner', 'margin', 'matchDate', 'match_id'], dtype='object')
Players Column:  -->  Index(['name', 'team', 'battingStyle', 'bowlingStyle', 'playingRole'], dtype='object')
Batting Summary Column:  -->  Index(['match_id', 'match', 'teamInnings', 'battingPos', 'batsmanName',
       'out/not_out', 'runs', 'balls', '4s', '6s', 'SR'],
      dtype='object')
Bowling Summary Column:  -->  Index(['match_id', 'match', 'bowlingTeam', 'bowlerName', 'overs', 'maiden',
       'runs', 'wickets', 'economy', '0s', '4s', '6s', 'wides', 'noBalls'],
      dtype='object')

In [28]:
print("Match Summary :  --> ", match_summary.shape)
print("Players :  --> ", players.shape)
print("Batting Summary :  --> ", batting_summary.shape)
print("Bowling Summary :  --> ", bowling_summary.shape)

Match Summary :  -->  (206, 6)
Players :  -->  (292, 5)
Batting Summary :  -->  (3268, 11)
Bowling Summary :  -->  (2436, 14)

### TOP 10 Batsman

In [38]:
batsman_and_runs = batting_summary.groupby('batsmanName')['runs'].sum().reset_index()

In [44]:
#batsman_and_runs.head()

In [43]:
#top 10 batsman
top_10_batsmen = batsman_and_runs.nlargest(10, 'runs').reset_index(drop=True)
# Set the index starting from 1
top_10_batsmen.index = top_10_batsmen.index + 1
print(top_10_batsmen)

        batsmanName  runs
1       ShubmanGill  1851
2      FafduPlessis  1831
3    RuturajGaikwad  1593
4           KLRahul  1516
5        JosButtler  1509
6     ShikharDhawan  1392
7        ViratKohli  1385
8       SanjuSamson  1304
9   SuryakumarYadav  1225
10     GlennMaxwell  1214

### TOP 10 Bowlers

In [45]:
bowlers_and_wickets = bowling_summary.groupby('bowlerName')['wickets'].sum().reset_index()

In [46]:
bowlers_and_wickets.head()

       bowlerName  wickets
0      AbdulSamad        1
1  AbhishekSharma        6
2       AdamMilne        3
3       AdamZampa        8
4      AdilRashid        2

In [47]:
#top 10 bowlers
top_10_bowler = bowlers_and_wickets.nlargest(10, 'wickets').reset_index(drop=True)
# Set the index starting from 1
top_10_bowler.index = top_10_bowler.index + 1
print(top_10_bowler)

           bowlerName  wickets
1       MohammedShami       67
2     YuzvendraChahal       66
3        HarshalPatel       65
4          RashidKhan       63
5           AveshKhan       47
6       ArshdeepSingh       45
7        KagisoRabada       45
8   VarunChakravarthy       44
9       ShardulThakur       43
10         TrentBoult       42