# Analysis of IPL DATA

"Sports Basics" is a sports blog company that entered space recently.  They wanted to get more traffic to their website by releasing a special edition magazine on IPL 2024.  This magazine aims to provide interesting insights and facts for fans, analysts and teams based on the last 3 years' data.

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

### Importing Data

In [2]:
match_summary = pd.read_csv('D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\dim_match_summary.csv')
players = pd.read_csv('D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\dim_players.csv')
batting_summary = pd.read_csv(r'D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\fact_bating_summary.csv')
bowling_summary = pd.read_csv(r'D:\Projects\IPL_2024_Project\C10_Input_Files\datasets\fact_bowling_summary.csv')

In [3]:
print("Match Summary Column:  --> ", match_summary.columns)
print("Players Column:  --> ", players.columns)
print("Batting Summary Column:  --> ", batting_summary.columns)
print("Bowling Summary Column:  --> ", bowling_summary.columns)

Match Summary Column:  -->  Index(['team1', 'team2', 'winner', 'margin', 'matchDate', 'match_id'], dtype='object')
Players Column:  -->  Index(['name', 'team', 'battingStyle', 'bowlingStyle', 'playingRole'], dtype='object')
Batting Summary Column:  -->  Index(['match_id', 'match', 'teamInnings', 'battingPos', 'batsmanName',
       'out/not_out', 'runs', 'balls', '4s', '6s', 'SR'],
      dtype='object')
Bowling Summary Column:  -->  Index(['match_id', 'match', 'bowlingTeam', 'bowlerName', 'overs', 'maiden',
       'runs', 'wickets', 'economy', '0s', '4s', '6s', 'wides', 'noBalls'],
      dtype='object')

In [4]:
print("Match Summary :  --> ", match_summary.shape)
print("Players :  --> ", players.shape)
print("Batting Summary :  --> ", batting_summary.shape)
print("Bowling Summary :  --> ", bowling_summary.shape)

Match Summary :  -->  (206, 6)
Players :  -->  (292, 5)
Batting Summary :  -->  (3268, 11)
Bowling Summary :  -->  (2436, 14)

### Data Cleaning

In [5]:
match_summary.dtypes

team1        object
team2        object
winner       object
margin       object
matchDate    object
match_id     object
dtype: object

In [6]:
batting_summary.dtypes

match_id       object
match          object
teamInnings    object
battingPos      int64
batsmanName    object
out/not_out    object
runs            int64
balls           int64
4s              int64
6s              int64
SR             object
dtype: object

In [7]:
match_summary['year']= (match_summary['matchDate']).str[-4:]
match_summary['year'].unique()

array(['2021', '2022', '2023'], dtype=object)

In [8]:
get_balls_from_overs = lambda p_over: int(p_over) * 6 if np.floor(p_over) == p_over else (1 + int(p_over) * 6 if np.floor(p_over) + 0.1 == p_over else int(np.floor(p_over)) * 6 + int((p_over - np.floor(p_over)) * 10))

# To test the lambda function
p_over = 3.3
no_of_balls = get_balls_from_overs(p_over)
print("Number of balls:", no_of_balls)

Number of balls: 20

In [9]:
bowling_summary['balls_bowled'] = bowling_summary['overs'].apply(lambda x: get_balls_from_overs(x))

### Player Stats

#### Create DataFrame having Player name and Stats

In [10]:
bowling_summary

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,balls_bowled
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.00,6,2,3,0,0,18
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.00,8,1,2,0,0,24
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.00,4,7,2,2,0,24
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.50,5,2,2,0,1,24
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.50,6,0,1,1,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431,T201566,Super Kings Vs Titans,Super Kings,DeepakChahar,4.0,0,29,0,7.25,9,1,2,0,0,24
2432,T201566,Super Kings Vs Titans,Super Kings,TusharDeshpande,3.2,0,51,1,15.30,5,4,4,1,1,20
2433,T201566,Super Kings Vs Titans,Super Kings,RajvardhanHangargekar,4.0,0,36,3,9.00,10,4,1,3,1,24
2434,T201566,Super Kings Vs Titans,Super Kings,MitchellSantner,4.0,0,32,0,8.00,7,5,0,0,0,24
2435,T201566,Super Kings Vs Titans,Super Kings,RavindraJadeja,4.0,0,28,1,7.00,9,1,1,0,0,24

In [11]:
playerStat  = pd.DataFrame(players['name'])

In [12]:
batting_stat =  batting_summary.groupby('batsmanName').agg({'runs':'sum','balls':'sum','4s':'sum','6s':'sum'}).reset_index()

In [13]:
#add Runs in playerStat for further Analysis
playerStat['runs'] = playerStat['name'].map(batting_stat.set_index('batsmanName')['runs'])
playerStat['Balls_Faced'] = playerStat['name'].map(batting_stat.set_index('batsmanName')['balls'])
playerStat['4s'] = playerStat['name'].map(batting_stat.set_index('batsmanName')['4s'])
playerStat['6s'] = playerStat['name'].map(batting_stat.set_index('batsmanName')['6s'])
playerStat.head(2)

             name    runs  Balls_Faced     4s    6s
0  RuturajGaikwad  1593.0       1157.0  143.0  67.0
1    FafduPlessis  1831.0       1300.0  169.0  72.0

In [14]:
bowling_summary.head(2)

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,balls_bowled
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0,18
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0,24

In [15]:
bowling_stat =  bowling_summary.groupby('bowlerName').agg({'runs':'sum','balls_bowled':'sum','wickets':'sum','wides':'sum','noBalls':'sum','maiden':'sum','0s':'sum'}).reset_index()

In [16]:
#add Runs in playerStat for further Analysis
playerStat['runs_given'] = playerStat['name'].map(bowling_stat.set_index('bowlerName')['runs'])
playerStat['balls_bowled'] = playerStat['name'].map(bowling_stat.set_index('bowlerName')['balls_bowled'])
playerStat['wickets'] = playerStat['name'].map(bowling_stat.set_index('bowlerName')['wickets'])
playerStat['wides'] = playerStat['name'].map(bowling_stat.set_index('bowlerName')['wides'])
playerStat['maiden'] = playerStat['name'].map(bowling_stat.set_index('bowlerName')['maiden'])
playerStat['dot_balls_bowled'] = playerStat['name'].map(bowling_stat.set_index('bowlerName')['0s'])
#giving 0 as default where it is NaN
playerStat['runs_given'] = playerStat['runs_given'].fillna(0)
playerStat['balls_bowled'] = playerStat['balls_bowled'].fillna(0)
playerStat['wickets'] = playerStat['wickets'].fillna(0)
playerStat['wides'] = playerStat['wides'].fillna(0)
playerStat['maiden'] = playerStat['maiden'].fillna(0)
playerStat['dot_balls_bowled'] = playerStat['dot_balls_bowled'].fillna(0)
playerStat.head(2)

,name,runs,Balls_Faced,4s,6s,runs_given,balls_bowled,wickets,wides,maiden,dot_balls_bowled
0,RuturajGaikwad,1593.0,1157.0,143.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0
1,FafduPlessis,1831.0,1300.0,169.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Calculating Batters Played at least 60 balls in Each Season

In [17]:
batting_and_matches = pd.merge(left=batting_summary, right=match_summary, how='inner')

In [18]:
batting_and_matches.columns

Index(['match_id', 'match', 'teamInnings', 'battingPos', 'batsmanName',
       'out/not_out', 'runs', 'balls', '4s', '6s', 'SR', 'team1', 'team2',
       'winner', 'margin', 'matchDate', 'year'],
      dtype='object')

In [19]:
#batting_stat.groupby(['batsmanName','year'])['balls'].sum()

In [20]:
# Pivot table
balls_faced_by_batter = batting_and_matches.pivot_table(index='batsmanName', columns='year', values='balls', aggfunc='sum', fill_value=0)
# Adding total column
balls_faced_by_batter['Total'] = balls_faced_by_batter.sum(axis=1)
balls_faced_by_batter = balls_faced_by_batter.reset_index()
balls_faced_by_batter.index.names=['SRNO']
balls_faced_by_batter.head(2)

year   batsmanName  2021  2022  2023  Total
SRNO
0     ABdeVilliers   211     0     0    211
1       AaronFinch     0    61     0     61

In [21]:
#each Season 60 balls faced by batter
eachSeasonBatter =  balls_faced_by_batter[(balls_faced_by_batter['2021'] >= 60) & (balls_faced_by_batter['2022'] >= 60) & (balls_faced_by_batter['2023'] >= 60)].reset_index()
#update values after mapping
playerStat['eachSeasonBatter'] = playerStat['name'].isin(eachSeasonBatter['batsmanName']).apply(lambda x: 'Yes' if x else 'No')
#playerStat.value_counts('eachSeasonBatter')
eachSeasonBatter.head(2)

year  SRNO     batsmanName  2021  2022  2023  Total
0        6  AbhishekSharma    69   320   157    546
1       11    AidenMarkram   119   274   197    590

In [22]:
#batting_summary.head()

#### Calculating Bowlers Who balled at least 60 balls in Each Season

In [23]:
bowling_and_matches = pd.merge(left=bowling_summary, right=match_summary, how='inner')

In [24]:
bowling_and_matches.head(2)

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,...,6s,wides,noBalls,balls_bowled,team1,team2,winner,margin,matchDate,year
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,...,3,0,0,18,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,...,2,0,0,24,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021

In [25]:
#bowling_and_matches
bowling_and_matches.columns

Index(['match_id', 'match', 'bowlingTeam', 'bowlerName', 'overs', 'maiden',
       'runs', 'wickets', 'economy', '0s', '4s', '6s', 'wides', 'noBalls',
       'balls_bowled', 'team1', 'team2', 'winner', 'margin', 'matchDate',
       'year'],
      dtype='object')

In [26]:
balls_bowled_by_bowler = bowling_and_matches.pivot_table(index='bowlerName', columns='year', values='balls_bowled', aggfunc='sum', fill_value=0)
# Adding total column
balls_bowled_by_bowler['Total'] = balls_bowled_by_bowler.sum(axis=1)
balls_bowled_by_bowler = balls_bowled_by_bowler.reset_index()
balls_bowled_by_bowler.index.names=['SRNO']
balls_bowled_by_bowler.head(2)

year      bowlerName  2021  2022  2023  Total
SRNO
0         AbdulSamad     6     6     0     12
1     AbhishekSharma    54    24    72    150

In [27]:
#each Season 60 balls bowled by Bowler
eachSeasonBowler =  balls_bowled_by_bowler[(balls_bowled_by_bowler['2021'] >= 60) & (balls_bowled_by_bowler['2022'] >= 60) & (balls_bowled_by_bowler['2023'] >= 60)].reset_index()
#update values after mapping
playerStat['eachSeasonBowler'] = playerStat['name'].isin(eachSeasonBowler['bowlerName']).apply(lambda x: 'Yes' if x else 'No')
#playerStat.value_counts('eachSeasonBatter')
eachSeasonBowler.head(2)

year  SRNO    bowlerName  2021  2022  2023  Total
0       13  AndreRussell   114   168    91    373
1       15  AnrichNortje   182   134   240    556

In [28]:
playerStat.tail(2)

,name,runs,Balls_Faced,4s,6s,runs_given,balls_bowled,wickets,wides,maiden,dot_balls_bowled,eachSeasonBatter,eachSeasonBowler
290,RajvardhanHangargekar,NaN,NaN,NaN,NaN,60.0,36.0,3.0,6.0,0.0,14.0,No,No
291,ReeceTopley,NaN,NaN,NaN,NaN,14.0,12.0,1.0,0.0,0.0,7.0,No,No

#### Batsman Out/Not Out Count required for average

In [29]:
batsman_not_out = batting_summary[batting_summary['out/not_out']=='not_out'].groupby('batsmanName')['out/not_out'].count().reset_index()
batsman_out = batting_summary[batting_summary['out/not_out']=='out'].groupby('batsmanName')['out/not_out'].count().reset_index()
batsman_total_match = batting_summary.groupby('batsmanName')['out/not_out'].count().reset_index()

In [30]:
playerStat['not_out'] = playerStat['name'].map(batsman_not_out.set_index('batsmanName')['out/not_out'])
playerStat['out'] = playerStat['name'].map(batsman_out.set_index('batsmanName')['out/not_out'])
playerStat['Matches_Batted'] = playerStat['name'].map(batsman_total_match.set_index('batsmanName')['out/not_out'])
playerStat.head(2)

,name,runs,Balls_Faced,4s,6s,runs_given,balls_bowled,wickets,wides,maiden,dot_balls_bowled,eachSeasonBatter,eachSeasonBowler,not_out,out,Matches_Batted
0,RuturajGaikwad,1593.0,1157.0,143.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,3.0,42.0,45.0
1,FafduPlessis,1831.0,1300.0,169.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,4.0,42.0,46.0

In [31]:
playerStat['not_out'] = playerStat['not_out'].fillna(0)
playerStat['out'] = playerStat['out'].fillna(0)
playerStat['Matches_Batted'] = playerStat['Matches_Batted'].fillna(0)

#### Calculate Batting Average

In [32]:
playerStat['avgBattingRuns'] = np.round(playerStat['runs']/playerStat['out'],2)
#cleaning NaN values
playerStat.loc[playerStat['out'] == 0, 'avgBattingRuns'] = playerStat['runs']

In [33]:
playerStat.head()

,name,runs,Balls_Faced,4s,6s,runs_given,balls_bowled,wickets,wides,maiden,dot_balls_bowled,eachSeasonBatter,eachSeasonBowler,not_out,out,Matches_Batted,avgBattingRuns
0,RuturajGaikwad,1593.0,1157.0,143.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,3.0,42.0,45.0,37.93
1,FafduPlessis,1831.0,1300.0,169.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,4.0,42.0,46.0,43.60
2,RobinUthappa,345.0,255.0,27.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,No,No,0.0,15.0,15.0,23.00
3,MoeenAli,725.0,528.0,67.0,36.0,501.0,427.0,21.0,5.0,0.0,152.0,Yes,Yes,4.0,31.0,35.0,23.39
4,ShubmanGill,1851.0,1331.0,186.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,4.0,46.0,50.0,40.24

#### Calculate Strike Rate

In [34]:
playerStat['strikeRate'] = np.round(100*playerStat['runs']/playerStat['Balls_Faced'],2)
#cleaning NaN values
#playerStat.loc[playerStat['out'] == 0, 'avgBattingRuns'] = playerStat['runs']

In [35]:
playerStat.head()

,name,runs,Balls_Faced,4s,6s,runs_given,balls_bowled,wickets,wides,maiden,dot_balls_bowled,eachSeasonBatter,eachSeasonBowler,not_out,out,Matches_Batted,avgBattingRuns,strikeRate
0,RuturajGaikwad,1593.0,1157.0,143.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,3.0,42.0,45.0,37.93,137.68
1,FafduPlessis,1831.0,1300.0,169.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,4.0,42.0,46.0,43.60,140.85
2,RobinUthappa,345.0,255.0,27.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,No,No,0.0,15.0,15.0,23.00,135.29
3,MoeenAli,725.0,528.0,67.0,36.0,501.0,427.0,21.0,5.0,0.0,152.0,Yes,Yes,4.0,31.0,35.0,23.39,137.31
4,ShubmanGill,1851.0,1331.0,186.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,4.0,46.0,50.0,40.24,139.07

#### `Calculate Boundary %

In [36]:
playerStat['boundary_percentage'] = round(100*(playerStat['4s']*4 + playerStat['6s']*6)/playerStat['runs'],2)

In [37]:
#playerStat

#### Calculate Bowling Average

In [38]:
playerStat['bowling_avg'] = round((playerStat['runs_given']/playerStat['wickets']),2)

#### Calculate Economy

In [39]:
playerStat['economy'] = round(6*playerStat['runs_given']/playerStat['balls_bowled'],2)

#### Calculate Dot Ball %

In [40]:
playerStat['dot_ball_percentage'] = round(100*playerStat['dot_balls_bowled']/playerStat['balls_bowled'],2)

### Top 10 Batsman

#### Based on Total Runs in Past 3 Years

In [41]:
#top 10 batsman
top_10_batsmen_by_runs = playerStat.nlargest(10, 'runs').reset_index(drop=True)
# Set the index starting from 1
top_10_batsmen_by_runs.index = top_10_batsmen_by_runs.index + 1
top_10_batsmen_by_runs = top_10_batsmen_by_runs[['name','runs']]
print(top_10_batsmen_by_runs)

               name    runs
1       ShubmanGill  1851.0
2      FafduPlessis  1831.0
3    RuturajGaikwad  1593.0
4           KLRahul  1516.0
5        JosButtler  1509.0
6     ShikharDhawan  1392.0
7        ViratKohli  1385.0
8       SanjuSamson  1304.0
9   SuryakumarYadav  1225.0
10     GlennMaxwell  1214.0

#### Based on Average

In [42]:
#Top 10 Batter Based on Past 3 years Average
top_10_batsmen_by_avg = playerStat[playerStat['eachSeasonBatter'] == 'Yes'].nlargest(10, 'avgBattingRuns').reset_index(drop=True)
# Set the index starting from 1
top_10_batsmen_by_avg.index = top_10_batsmen_by_avg.index + 1
top_10_batsmen_by_avg = top_10_batsmen_by_avg[['name','avgBattingRuns']]
print(top_10_batsmen_by_avg)

               name  avgBattingRuns
1           KLRahul           50.53
2      FafduPlessis           43.60
3       DavidMiller           43.20
4        JosButtler           41.92
5    ShimronHetmyer           40.67
6       ShubmanGill           40.24
7     ShikharDhawan           39.77
8    RuturajGaikwad           37.93
9       DavidWarner           37.90
10  SuryakumarYadav           35.00

#### Based on Strike Rate

In [43]:
#Top 10 Batter Based on Past 3 years Strike Rate
top_10_batsmen_by_sr = playerStat[playerStat['eachSeasonBatter'] == 'Yes'].nlargest(10, 'strikeRate').reset_index(drop=True)
# Set the index starting from 1
top_10_batsmen_by_sr.index = top_10_batsmen_by_sr.index + 1
top_10_batsmen_by_sr = top_10_batsmen_by_sr[['name','strikeRate']]
print(top_10_batsmen_by_sr)

               name  strikeRate
1      GlennMaxwell      161.44
2   SuryakumarYadav      160.55
3      AndreRussell      159.19
4    ShimronHetmyer      157.27
5    NicholasPooran      157.11
6       PrithviShaw      153.20
7     DineshKarthik      152.64
8   YashasviJaiswal      152.15
9        JosButtler      146.93
10       ShivamDube      145.95

#### Based on Boundary %

In [44]:
#Top 10 Batter Based on Past 3 years Boundary Percentage
top_10_batsmen_by_boundary_percent = playerStat[playerStat['eachSeasonBatter'] == 'Yes'].nlargest(10, 'boundary_percentage').reset_index(drop=True)
# Set the index starting from 1
top_10_batsmen_by_boundary_percent.index = top_10_batsmen_by_boundary_percent.index + 1
top_10_batsmen_by_boundary_percent = top_10_batsmen_by_boundary_percent[['name','boundary_percentage']]
print(top_10_batsmen_by_boundary_percent)

               name  boundary_percentage
1      AndreRussell                75.70
2   YashasviJaiswal                74.56
3       PrithviShaw                70.67
4        JosButtler                68.92
5      GlennMaxwell                68.70
6   SuryakumarYadav                68.24
7    NicholasPooran                67.49
8          MoeenAli                66.76
9       RohitSharma                66.06
10    MarcusStoinis                66.05

### Top 10 Bowlers

#### Based on Total Wickets in Past 3 Years

In [45]:
bowlers_and_wickets = bowling_summary.groupby('bowlerName')['wickets'].sum().reset_index()

In [46]:
#bowlers_and_wickets.head()

In [47]:
#top 10 bowlers
top_10_bowler = bowlers_and_wickets.nlargest(10, 'wickets').reset_index(drop=True)
# Set the index starting from 1
top_10_bowler.index = top_10_bowler.index + 1
print(top_10_bowler)

           bowlerName  wickets
1       MohammedShami       67
2     YuzvendraChahal       66
3        HarshalPatel       65
4          RashidKhan       63
5           AveshKhan       47
6       ArshdeepSingh       45
7        KagisoRabada       45
8   VarunChakravarthy       44
9       ShardulThakur       43
10         TrentBoult       42

#### Based on Average

In [48]:
#Top 10 Bowlers based on Average
top_10_bowler_by_average = playerStat[playerStat['eachSeasonBowler'] == 'Yes'].nsmallest(10, 'bowling_avg').reset_index(drop=True)
# Set the index starting from 1
top_10_bowler_by_average.index = top_10_bowler_by_average.index + 1
top_10_bowler_by_average = top_10_bowler_by_average[['name','bowling_avg']]
print(top_10_bowler_by_average)

               name  bowling_avg
1      AndreRussell        18.23
2   YuzvendraChahal        20.20
3      HarshalPatel        20.35
4        RashidKhan        20.90
5     MohammedShami        20.97
6         AveshKhan        23.72
7      KagisoRabada        23.76
8          MoeenAli        23.86
9      AnrichNortje        24.77
10       UmranMalik        26.10

#### Based on Economy

In [49]:
#Top 10 Bowlers based on Economy
top_10_bowler_by_economy = playerStat[playerStat['eachSeasonBowler'] == 'Yes'].nsmallest(10, 'economy').reset_index(drop=True)
# Set the index starting from 1
top_10_bowler_by_economy.index = top_10_bowler_by_economy.index + 1
top_10_bowler_by_economy = top_10_bowler_by_economy[['name','economy']]
print(top_10_bowler_by_economy)

                  name  economy
1          SunilNarine     6.60
2             MoeenAli     7.04
3            AxarPatel     7.11
4           RashidKhan     7.20
5         KrunalPandya     7.45
6       RavindraJadeja     7.46
7   RavichandranAshwin     7.50
8    VarunChakravarthy     7.58
9         HarpreetBrar     7.60
10         RahulChahar     7.66

#### Based on Dot Ball %

In [50]:

#Top 10 Bowlers based on dot_ball_percentage
top_10_bowler_by_dot_ball_percentage = playerStat[playerStat['eachSeasonBowler'] == 'Yes'].nlargest(10, 'dot_ball_percentage').reset_index(drop=True)
# Set the index starting from 1
top_10_bowler_by_dot_ball_percentage.index = top_10_bowler_by_dot_ball_percentage.index + 1
top_10_bowler_by_dot_ball_percentage = top_10_bowler_by_dot_ball_percentage[['name','dot_ball_percentage']]
print(top_10_bowler_by_dot_ball_percentage)

                name  dot_ball_percentage
1      MohammedSiraj                47.71
2      MohammedShami                47.62
3         TrentBoult                46.47
4         UmranMalik                44.15
5       KhaleelAhmed                43.61
6       KagisoRabada                43.41
7   BhuvneshwarKumar                42.48
8          AveshKhan                41.70
9       AnrichNortje                41.19
10     RileyMeredith                40.52